*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  background-image: url(../img/cork-board.jpg);
  position: relative;
}

.dog-photo {
  position: absolute;
  top: 115px; left: 100px;
  height: 700px;
  width: 700px;
}

.pin-photo {
  position: absolute;
  top: 35px; left: 350px;
  width: 100px;
  height: 100px;
}
